<md-toolbar>
	<div class="md-toolbar-tools">
		<!-- <div layout="row" layout-align="center center"> -->

			<!-- Copyright -->
			<!-- <div> -->
				<!-- <h6>Copyright 2015 Amygdala Development</h6> -->
				<h6>Amygdala LLC © 2015 | All Rights Reserved</h6>
			<!-- </div> -->

			<!-- <span flex></span> -->

			<!-- <div> -->
				<!-- Social menu -->



  <md-fab-toolbar ng-class="'md-right'">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-svg-src="assets/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-svg-src="assets/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-svg-src="assets/icons/menu.svg"></md-icon>
        </md-button>
        <md-button aria-label="photo" class="md-icon-button">
          <md-icon md-svg-src="assets/icons/more_vert.svg"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>


				
			<!-- </div> -->

		<!-- </div> -->
	</div>
</md-toolbar>