<!-- Toolbar -->
<md-toolbar layout="row">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button menuBtn" ng-click="vm.toggleSidenav('left')" hide-gt-sm>
			<md-icon aria-label="Menu" md-svg-icon="assets/icons/menu.svg"></md-icon>
		</md-button>
		<!-- Header -->		
		<span flex></span>
		<h2 class="md-toolbar-tools">MetroMed Urgent Care!</h2>
		<span flex></span>
		<!-- More button -->
		<md-button class="md-icon-button" aria-label="More">
			<md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>
		</md-button>
	</div>
</md-toolbar>


<!-- Side Navigation -->
<div layout="row" flex class="content-wrapper">
	<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<!-- Menu items -->
		<md-list class="muppet-list">
			<md-item>
				<md-item-content>
					<md-button>
						<img ng-src="" class="face" alt="">
						Home
					</md-button>
				</md-item-content>
			</md-item>
		</md-list>
	</md-sidenav>
</div>
