h2.md-accent.md-display-1 School Physicals
.price-outer
	.price.md-display-4 $20
	.md-headline ONE TIME FEE
md-list.md-headline
	md-list-item Until August 31
	md-list-item Vision Screening
	md-list-item Immunization verification
	md-list-item Scoliosis Screening

//- Footer
footer
	acme-footer