.price-card {
	//- background:red;
	border: 1px solid #dddddd;
	padding: 10px;
}
.price-outer:before, .price-outer:after {
	background: none repeat scroll 0 0 #eeeeee;
	content: "";
	display: block;
	height: 1px;
	left: 14%;
	padding: 0;
	position: absolute;
	top: 0;
	width: 72%;
}
.price {
	color: #2cbfd9;
}
