<!doctype html>
<html ng-app="metromed">
	<head>
		<meta charset="utf-8">
		<title>metromed</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
		<!-- bower:css -->
		<!-- run `gulp inject` to automatically populate bower styles dependencies -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css({.tmp/serve,src}) styles/app.css -->
		<!-- inject:css -->
		<!-- css files will be automatically insert here -->
		<!-- endinject -->
		<!-- endbuild -->

		<!-- For this demo, include the font-faces needed by mdIcon above -->
	</head>
	<body layout="column" ng-controller="ToolbarController as tb">
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->


		<!-- <div layout="column"> -->
			<!-- <section layout="row" flex=""> -->
				<!-- Toolbar -->
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Menu" hide-gt-sm ng-click="tb.toggleSidenav('left')">
							<md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
						</md-button>
						<h2>
							<span>MetroMed Urgent Care</span>
						</h2>
						<span flex></span>
						<!-- Address, phone, email -->
						<div layout="row" layout-align="start center" hide-sm hide-md>
							<div style="padding-top:5px;">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="#9C27B0" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
								</svg>
							</div>
							&nbsp;952 Edwards Ferry Road NE Leesburg VA 20176 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<div style="padding-top:8px;">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="#9C27B0" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
								</svg>
							</div>
							&nbsp;<a tel='(703) 687-4158'>(703) 687-4158</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<!-- Email -->
							<!--
							<div style="padding-top:8px;">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="#9C27B0" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
								</svg>
							</div>
							&nbsp;<a mailto="info@metromeduc.com">info@metromeduc.com</a>
							-->
						</div>
						<!-- More button -->
						<md-button class="md-icon-button" aria-label="More">
							<md-icon md-svg-icon="assets/icons/more_vert.svg"></md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<!-- Side Navigation -->
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"> <!-- md-is-locked-open="$mdMedia('sm')"-->
					<md-toolbar class="md-theme-indigo">
						<h1 class="md-toolbar-tools" ng-click="tb.toggleSidenav('left')">MetroMed Urgent Care</h1>
					</md-toolbar>
					<md-content layout-padding="">
						<!-- Side Menu -->
						<md-list class="menu-list">
							<md-item ng-repeat="item in tb.menuItems">
								<md-item-content>
									<md-button aria-label="{{ item.name }}" class="selecte">
										<!-- <img ng-src="assets/images/photo.jpg" class="face" alt="Home"> -->
										<!-- <md-icon md-svg-src="{{ item.icon }}"aria-label="menu icon"></md-icon> -->
										<div layout="row" layout-align="start center">
											<div style="padding-top:10px;">
												<svg style="width:24px;height:24px;" viewBox="0 0 24 24">
													<path fill="#2cbfd9" d="{{ item.svg }}"></path>
												</svg>
											</div>
											<div style="margin-left:5px;">
												{{ item.name }}
											</div>
										</div>
									</md-button>
								</md-item-content>
								<md-divider></md-divider>
							</md-item>
						</md-list>
						<!--
						<md-button ng-click="tb.toggleSidenav('left')" class="md-primary" hide-gt-md="">
							Close menu
						</md-button>
						-->
						<md-divider></md-divider>
						<!-- Address, phone, email -->
						<md-card style="margin-top:20px;">
							<div layout="column" layout-margin>
								<div>Our address:</div>
								<div>952 Edwards Ferry Road NE</div>
								<div>Leesburg VA 20176</div>
								<span flex></span>
								<div>Phone: <a tel='(703) 687-4158'>(703) 687-4158</a></div>
								<span flex></span>
								<div>Email: <a href="mailto:info@metromeduc.com">info@metromeduc.com</a></div>
							</div>
						</md-card>
					</md-content>
				</md-sidenav>
				<!-- Content -->
				<md-content flex="" layout-padding="">
					<div layout="column" layout-fill="" layout-align="top center">
						<div ui-view></div>
					</div>
					<div flex=""></div>
				</md-content>
			<!-- </section> -->
		<!-- </div> -->

		<!-- build:js(src) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- run `gulp inject` to automatically populate bower script dependencies -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
		<!-- inject:js -->
		<!-- js files will be automatically insert here -->
		<!-- endinject -->

		<!-- inject:partials -->
		<!-- angular templates will be automatically converted in js and inserted here -->
		<!-- endinject -->
		<!-- endbuild -->

	</body>
</html>
