<!doctype html>
<html ng-app="metromed">
	<head>
		<meta charset="utf-8">
		<title>metromed</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
		<!-- bower:css -->
		<!-- run `gulp inject` to automatically populate bower styles dependencies -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css({.tmp/serve,src}) styles/app.css -->
		<!-- inject:css -->
		<!-- css files will be automatically insert here -->
		<!-- endinject -->
		<!-- endbuild -->

		<!-- For this demo, include the font-faces needed by mdIcon above -->
	</head>
	<body layout="column" ng-controller="ToolbarController as tb">
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Toolbar -->
		<md-toolbar layout="row">
			<md-button ng-click="tb.toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
				<md-icon aria-label="Menu" md-svg-icon="assets/icons/menu.svg"></md-icon>
			</md-button>
			<h1 class="md-toolbar-tools">MetroMed Urgent Care</h1>
		</md-toolbar>
		<!-- Content Wrapper -->
		<div layout="row" flex class="content-wrapper">
			<!-- Side Navigation -->
			<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
				<md-list class="menu-list">
					<!-- Menu items -->
					<md-item ng-repeat="item in tb.menuItems">
						<md-item-content>
							<md-button aria-label="{{ item.name }}" class="selecte">
								<!-- <img ng-src="assets/images/photo.jpg" class="face" alt="Home"> -->
								<!-- <md-icon md-svg-src="{{ item.icon }}"aria-label="menu icon"></md-icon> -->
								<div layout="row" layout-align="start center">
									<div style="padding-top:10px;">
										<svg style="width:24px;height:24px;" viewBox="0 0 24 24">
											<path fill="#2cbfd9" d="{{ item.svg }}"></path>
										</svg>
									</div>
									<div style="margin-left:5px;">
										{{ item.name }}
									</div>
								</div>
							</md-button>
						</md-item-content>
						<md-divider></md-divider>
					</md-item>
				</md-list>
			</md-sidenav>
			<!-- Content -->
			<div layout="column" flex class="content-wrapper" id="primary-col">
				<md-content layout="column" flex class="md-padding">
					<div ui-view></div>
				</md-content>
			</div>
		</div>

		<!-- build:js(src) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- run `gulp inject` to automatically populate bower script dependencies -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
		<!-- inject:js -->
		<!-- js files will be automatically insert here -->
		<!-- endinject -->

		<!-- inject:partials -->
		<!-- angular templates will be automatically converted in js and inserted here -->
		<!-- endinject -->
		<!-- endbuild -->

	</body>
</html>
